.overhiddenCh p {
    font-size: 1rem;
    font-style: italic;
    white-space: nowrap;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
}
.quantity-input{
    width: 2rem;
    border: 0px;
    border-radius: 20%;
}
.productPage-container{
    height: 100vh;
}
.overhiddenCh .size_wrap li span{
    font-size: 14px;
  }
  
  .overhiddenCh .size_wrap li:hover{
    background: #7f8db0;
    color: #fff;
  }
  .overhiddenCh .size_color{
    margin: 25px 0;
  }
  
  .overhiddenCh .size_color .title{
    margin-bottom: 10px;
  }
  
  .overhiddenCh .size_wrap ul{
    display: flex;
    justify-content: center;
  }
  
  .overhiddenCh .size_wrap li{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #7f8db0;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
  }